body {
    background: url(../images/BACKGROUND_01.jpg);
    text-align:justify;
}

.glossary {
    text-decoration:none;    
    border-bottom: 1px dotted;
    color:black;
}

.entree {
    font-variant:small-caps;
    padding-bottom: 1em;
}

.desc {
    font-variant:normal;
    font-size:9pt;
}

li {
    list-style:none;
}

.item {
    font-variant:small-caps;
    font-size:09pt;
    list-style:none;
}


.signed {
    text-align:center;
}

.corps {
    background-color: white;    
}

.list {
    list-style:none;    
}

.list2 {
    list-style:none;
    text-align:left;
    font-size:11pt;
}

#map {
    height: 400px;
}
#frise {
    height: 450px; 
    border: 1px solid #aaa;
}

h1 {
   font-size:13pt; 
   margin-left:15px; 
   margin-top:15px;
}
.next{
    text-align:right;
}

.link {
    font-size:9pt;
    list-style:none;
}

.adresse{
    border:1px solid; 
    border-radius:5px; 
    box-shadow: 3px 3px 3px #656565; 
    padding:5px;
    margin-top:20px;
}
sup span 
{
     display: none;
     font-size: 12px;
     padding: 10px;
     color: white;
     margin:5px;
     line-height: 15px;
     width: 500px;
     border:1px solid;
     border-color: black;
     border-radius: 4px;
     text-indent: 0;
}                    
     
sup:hover span /* affichage des notes au survol */
{
     display: block;
     position: absolute;
     background-color: grey ;/*rgb(37, 138, 77);*/ /*Pour les anciens navigateurs*/
     background-color: grey/*rgba(37,138,77,.9)*/; /* légère transparence */
}

.glossary:hover {
background: none; /* correction d'un bug IE */
}
.glossary span { /* définition de la 
balise <span> inclue dans <a> */
	display: none;
	height: auto;
	width: 100%;
	height: auto;
	border:1px solid;
	border-color: black;
	border-radius: 4px;
}
.glossary:hover span { /* définition de 
la balise <span> au survol */
    display:inline-block;
	position: absolute;
	background-color: rgba(25,25,25,.7); /* légère transparence */		
	z-index: 500;
	color: white;
	line-height: 10px;
}

small {
    font-size : 10pt;
}
