body {
    background: url(../images/BACKGROUND_01.jpg);
    text-align:justify;
}

.glossary {
    text-decoration:none;    
    border-bottom: 1px dotted;
    color:black;
}

.corps {
    background-color: white;    
}

.list {
    list-style:none;    
}

.list2 {
    list-style:none;
    text-align:left;
    font-size:11pt;
}

#map {
    height: 400px;
}
#frise {
    height: 450px; 
    border: 1px solid #aaa;
}

h1 {
   font-size:13pt; 
   margin-left:15px; 
   margin-top:15px;
}
.next{
    text-align:right;
}

.adresse{
    border:1px solid; 
    border-radius:5px; 
    box-shadow: 3px 3px 3px #656565; 
    padding:5px;
    margin-top:20px;
}
sup span 
{
     display: none;
     font-size: 12px;
     padding: 10px;
     color: white;
     margin:5px;
     line-height: 15px;
     width: 500px;
     border:1px solid;
     border-color: black;
     border-radius: 4px;
     text-indent: 0;
}                    
     
sup:hover span /* affichage des notes au survol */
{
     display: block;
     position: absolute;
     background-color: grey ;/*rgb(37, 138, 77);*/ /*Pour les anciens navigateurs*/
     background-color: grey/*rgba(37,138,77,.9)*/; /* légère transparence */
}

#menu_deroulant, #menu_deroulant ul /* menu déroulant commun à toutes les pages récupération de l'effet de transition sur le site http://www.frogweb.fr/menu-deroulant-horizontal/ */
{
     padding:0; /* permet aux éléments du menu déroulant de se 'dérouler' correctement ( les li des listes font la même largeur que les ul )  */
     margin:0; /* Permet de coller le menu de navigation à la photo_titre */
     list-style:none; /* supprime les effets des listes */
     text-align: center;
    font-size: 12px;
     font-weight: bold;
     background-color: #BD3B33;
}


#menu_deroulant ul /* Cache les balises ul 'déroulantes' */
{
     position:absolute; /* permet d'aligner les éléments du menu et faire en sorte que le menu se déroule de façon normale */
     max-height:0;
     overflow:hidden;
     transition: .8s all .3s; /* effet de transition du menu déroulant */
     -o-transition: .8s all .3s; /* effet de transition Opéra */
     -ms-transition: .8s all .3s; /* effet de transition IE */ 
     -moz-transition: .8s all .3s; /* effet de transition pour mozilla */
     -webkit-transition: .8s all .3s; /* idem Safari et Chrome */
}


#menu_deroulant li
{
     display:inline-block; /* affiche le menu déroulant sur une ligne */
     position:relative; /* permet que les sous-éléments des menus se déroulent sous leurs parents */
}


#menu_deroulant li:hover ul /* détermine la hauter maximale des éléments li lors du survol (si suppression les éléments ne s'affiche pas au survol) */
{
     max-height:15em;
}


#menu_deroulant a /* aspect visuel des liens du menu */
{
    text-decoration: none; /* supprime l'affichage standard des liens */
    display: block; /* permet au menu de s'afficher correctement */
     color:#000;
     width: 170px;
     line-height: 30px;
     background: #BD3B33;
     color: white;
     border-bottom : 3px solid;
     border-color: #BD3B33;
}


#menu_deroulant a:hover /* idem lors du survol : la couleur de la bordure inférieure changent */
{
     border-color: #194571;
}


#menu_deroulant ul:last-child /* les derniers éléments déroulés disposent des angles inférieurs arrondis */
{
     border-radius: 0 0 4px 4px;
}


.glossary:hover {
background: none; /* correction d'un bug IE */
}
.glossary span { /* définition de la 
balise <span> inclue dans <a> */
	display: none;
	height: auto;
	width: 100%;
	height: auto;
	border:1px solid;
	border-color: black;
	border-radius: 4px;
}
.glossary:hover span { /* définition de 
la balise <span> au survol */
    display:inline-block;
	position: absolute;
	background-color: rgba(25,25,25,.7); /* légère transparence */		
	z-index: 500;
	color: white;
	line-height: 10px;
}

